<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>ВетМаг</title>
</head>
<body>

   

    <div class="menu">
        <div class="menu-options">
            <a href="#">    
                <div class="button-wrapper">
                    <a href="{% url 'vetmag_main'%}"><div class="button"><b>Главная</b></div></a>
                </div>
            </a>
            <a href="#">    
                <div class="button-wrapper">
                    <div class="button"><a href="#"><b>Акции</b></a></div>
                </div>
            </a>
            <a href="#">    
                <div class="button-wrapper">
                    <div class="button"><a href="#"><b>Обратная связь</b></a></div>
                </div>
            </a>
            <a href="#">    
                <div class="button-wrapper">
                    <div class="button"><a href="#"><b>Доставка</b></a></div>
                </div>
            </a>
        </div>
        <a href="{% url 'vetmag_login'%}">    
            <div class="button-wrapper">
                <div class="button"><b>Личный кабинет</b></div>
            </div>
        </a>
    </div>

    

    <div class="buisness-card">
        <div class="card-info">
            <div class="logo">
                <img src="{% static 'main/Images/logo.png' %}"> 
            </div>
            <div class="about">
                <div class="info">
                    <div class="info-segment">
                        <p>Г.Ульяновск, улица</p>
                        <p>Доватора, 16/2</p>
                    </div>
                    <div class="info-segment">
                        <p>+7(904) 831-23-42</p>
                        <p>+7(904) 942-85-12</p>
                    </div>
                    <a href="#">    
                        <div class="cart">
                            <div class="cart-img">
                                <img src="{% static 'main/Images/cart_ico.png' %}"> 
                            </div>
                            <p>Корзина</p>
                        </div>
                    </a>
                </div>
                <div class="search-field">
                    <form action="#" method="post" autocomplete="off">  
                        <input type="text" id="search" placeholder="Найти товары" required>
                        <input type="submit" class="search-logo" value="">
                    </form>
                </div>
            </div>
        </div>
        <div class="line" style="position: relative; top: 4.2vh;"></div>
        <div class="card-catalogue">
            <a href="#">    
                <div class="button-wrapper-white">
                    <a href="{% url 'vetmag_catalogue' %}"><div class="button">Товары для кошек</div></a>
                </div> 
            </a>
            <a href="#">    
                <div class="button-wrapper-white">
                    <a href="{% url 'vetmag_catalogue' %}"><div class="button">Товары для собак</div></a>
                </div>
            </a>
            <a href="#">    
                <div class="button-wrapper-white">
                    <a href="{% url 'vetmag_catalogue' %}"><div class="button">Товары для грызунов</div></a>
                </div>
            </a>
            <a href="#">    
                <div class="button-wrapper-white">
                    <a href="{% url 'vetmag_catalogue' %}"><div class="button">Товары для птиц</div></a>
                </div>
            </a>
            <a href="#">    
                <div class="button-wrapper-white">
                    <div class="button"><a href="{% url 'vetmag_catalogue' %}">Товары для рыб</a></div>
                </div>
            </a>
        </div>
    </div>


    
    <div class="content">

        <!-- left collumn -->

        <div class="left-collumn">
            <div class="item-catalogue">
                <div class="catalogue-title">
                    <p>Каталог товаров</p>
                </div>
                <a href="#">    <!-- link here -->
                    <div class="button-wrapper-catalogue">
                        <div class="button-catalogue"><p>🐈Товары для кошек</p></div>
                    </div>
                </a>
                <a href="#">    <!-- link here -->
                    <div class="button-wrapper-catalogue">
                        <div class="button-catalogue"><p>🐕Товары для собак</p></div>
                    </div>
                </a>
                <a href="#">    <!-- link here -->
                    <div class="button-wrapper-catalogue">
                        <div class="button-catalogue"><p>🐇Товары для грызунов</p></div>
                    </div>
                </a>
                <a href="#">    <!-- link here -->
                    <div class="button-wrapper-catalogue">
                        <div class="button-catalogue"><p>🐦Товары для птиц</p></div>
                    </div>
                </a>
                <a href="#">    <!-- link here -->
                    <div class="button-wrapper-catalogue">
                        <div class="button-catalogue"><p>🐟Товары для рыб</p></div>
                    </div>
                </a>
            </div>
            <div class="offer">
                <div class="offer-segment">
                    <div class="sub-offer-segment">
                        <h3>Доставка заказов</h3>
                        <br>
                        <p class="offer-text">Доставка по городу Ульяновск осуществляется БЕСПЛАТНО при заказе от 999 рублей. Заказы поступившие до 18:00 доставляются в этот же день. Удобные интервалы доставки.</p>
                    </div>
                </div>
                <div class="line" style="position: relative; left: 5%;"></div>
                <div class="offer-segment">
                    <div class="sub-offer-segment">
                        <h3>Оплата заказов</h3>
                        <br>
                        <p class="offer-text">Мы принимаем оплату различными способами: наличными, банковской картой курьеру или же онлайн через платежные сервисы.</p>
                    </div>
                </div>
                <div class="line" style="position: relative; left: 5%;"></div>
                <div class="offer-segment">
                    <div class="sub-offer-segment">
                        <h3>Наш адрес</h3>
                        <br>
                        <p class="offer-text">Мы находимся юге-востоке, улица Доватора, 16/2. Приходите, мы всегда Вам рады!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- right collumn -->

        <div class="right-collumn">

            <!-- user card -->

            <div class="user-card">
                <div class="user-collumn">
                    
                    <div class="avatar"><img src="{% static 'main/Images/missing-image.png' %}" style="object-fit: cover"></div> 
                    <h1>{{ user.first_name }}</h1> 
                    <p class="uinfo">{{ user.username }}</p> 
                    <p class="uinfo">{{ user.email }}</p> 
                </div>
                <div class="user-collumn">
                    <p class="uinfo">Мои заказы</p>
                    <p class="uinfo">Методы оплаты</p>
                    <p class="uinfo">Избранное</p>
                    <p class="uinfo">Акции и бонусы</p>
                    <p class="uinfo">Обратная связь и поддержка</p>
                </div>
                <div class="user-collumn">
                    <p class="uinfo">Настройки аккаунта</p>
                    <p class="uinfo">Сменить пароль</p>
                    <p class="uinfo">История входов</p>
                    <p class="uinfo">Прочее</p>
                   
                    <a href="{% url 'logout' %}">
                        <p class="uinfo">Выход из аккаунта</p>
                    </a>
                </div>
            </div>

            <!-- last orders -->

            <div class="item-category">
                <h1>Последнее заказанное</h1>
                <div class="item-row">
                    <div class="item-card">
                        <div class="card-img">
                            <img src="{% static 'main/Images/one.jpeg' %}"> 
                        </div>
                        <div class="card-text">
                            <p>Purina Pro Plan Live Clear</p>
                        </div>
                        <br>
                        <div class="line"></div>
                        <br>
                        <div class="price">
                            <h2>76 ₽</h2>
                            <a href="#">    <!-- link here -->
                                <div class="buy-button">
                                    <p>Купить</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item-card">
                        <div class="card-img">
                            <img src="{% static 'main/Images/two.jpeg' %}"> 
                        </div>
                        <div class="card-text">
                            <p>Profine Canin Sterilised</p>
                        </div>
                        <br>
                        <div class="line"></div>
                        <br>
                        <div class="price">
                            <h2>76 ₽</h2>
                            <a href="#">    <!-- link here -->
                                <div class="buy-button">
                                    <p>Купить</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item-card">
                        <div class="card-img">
                            <img src="{% static 'main/Images/three.jpeg' %}"> 
                        </div>
                        <div class="card-text">
                            <p>Purina Pro</p>
                        </div>
                        <br>
                        <div class="line"></div>
                        <br>
                        <div class="price">
                            <h2>76 ₽</h2>
                            <a href="#">    <!-- link here -->
                                <div class="buy-button">
                                    <p>Купить</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Footer -->

    <div class="footer">
        <div class="left-footer-collumn">
            <div class="subscription-field">
                <h1>Подписаться</h1>
                <h1>на рассылку</h1>
                <br>
                <form action="#" method="post" autocomplete="off">  <!-- action here -->
                    <input type="email" id="subscription" placeholder="Введите ваш email" required>
                    <input type="submit" class="subscription-logo" value="">
                </form>
            </div>
            <div class="footer-info">
                <div class="footer-info-segment">
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Корзина</p></div>
                    </a>
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Личный кабинет</p></div>
                    </a>
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Оформить заказ</p></div>
                    </a>
                </div>
                <div class="footer-info-segment">
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Товары для кошек</p></div>
                    </a>
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Товары для собак</p></div>
                    </a>
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Товары для грызунов</p></div>
                    </a>
                </div>
                <div class="footer-info-segment">
                    <a href="#">
                        <div class="white-color"><p class="offer-text">О компании</p></div>
                    </a>
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Интернет-зоомагазин ”ВетМаг” © 2024</p></div>
                    </a>
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Политика конфедициальности персональных данных</p></div>
                    </a>
                    <a href="#">
                        <div class="white-color"><p class="offer-text">Пользовательское соглашение</p></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="right-footer-collumn">
            <div>
                <p class="offer-text">+7(904)831-23-42</p>
                <br>
                <p class="offer-text">+7(904)942-85-12</p>
                <br>
                <p class="offer-text">г. Ульяновск, </p>
                <p>улица Доватора, 16/2</p>
            </div>
            <div>
                <b class="offer-text">VetMag@gmail.com</b>
                <br>
                <p class="offer-text">Пн-Вс 10:00-19:30</p>
            </div>
        </div>
    </div>

</body>
</html>
